@import "tailwindcss";

@theme {
  --color-primary: #1565C0;
  --color-dark: #0D0D0D;
  --color-light: #FFFFFF;
  --color-accent: #C9A84C;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  overflow-x: hidden;
}